<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Nahuel Gómez</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
        <div class="container">

            <h1>Bienvenido <%= user.nombre %>!</h1>

            <form method="post" action="/logout">
                <input type="submit" value="Desconectar">
            </form>

            <small>
                Usted está conectado hace <span id="tiempo"></span> Segundos
            </small>

        </div>
        <script>
            let tiempo = 0;
            document.getElementById("tiempo").innerText = tiempo;
            setInterval(()=>{
                tiempo = tiempo+1;
                document.getElementById("tiempo").innerText = tiempo;
            },1000)
        </script>
    </body>

</html>